*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: navy;
    padding: 50px;
}

input {
    padding: 8px;
   width: 40%;
   display: block;
   margin: 0 auto;
   font-size:2rem;
   border-radius: 33px;
   border: none;
}

#movie-box {
    padding: 20px 0;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:24px;
}

#movie-box > *{
    width: 23%;
    border: 1px solid mediumturquoise;
}

.movie__card {
    padding: 8px;
    border-radius: 12px;
}